* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  color: #fafafa;
  overflow: hidden;
  font-family: monospace;
  font-size: 14px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 1rem 7rem;
  background: tomato;
  color: #1a1a1a;
  border: none;
  outline: none;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
